/* CSS styles for the tribute page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .page {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .intro {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .founder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  
    width: 100%;
    height: auto;
  }
  
  .founder-image {
    position: relative;
    width: 100%;
    height: auto;
  
    overflow: hidden;
    border-radius: 5px;
  }
  
  .founder-image img {
    width: 100%;
    height: 100%;
  
    object-fit: cover;
  }
  
  .founder-image span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(68, 68, 68, 0.6);
    color: #ffffff;
    font-size: 16px;
    text-align: center;
  }
  .founder-details {
    line-height: 1.3;
    padding: 10px;
  }
  .founder-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .founder-details li {
    margin-bottom: 10px;
  
    font-size: 16px;
  }
  .founder-details ul li:before {
    content: "✓";
  }
  
  .points ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    line-height: 1.5;
  }
  
  .points li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .points li::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 3px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("img/download.png");
    background-size: cover;
  }
  .points li span {
    font-weight: bolder;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 875px) {
    .founder-image {
      width: 100%;
      height: auto;
    }
  
    .founder-image img {
      object-fit: cover;
    }
  }
  
  @media (max-width: 700px) {
    .founder-details li {
      font-size: 12px;
    }
    .founder-image span {
      font-size: 13px;
      padding: 7px 0;
    }
  }
  
  @media (max-width: 480px) {
    .founder {
      display: grid;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .founder-details {
      margin-top: 15px;
    }
    .founder-details li {
      font-size: 14px;
    }
  }
  
  @media (max-width: 275px) {
    .title {
      font-size: 12px;
    }
    .points li {
      font-size: 14px;
    }
  }
  